/14day_머신러닝/02_회귀분석/data/*.csv
/14day_머신러닝/02_회귀분석/data
/14day_머신러닝/02_회귀분석/.ipynb_checkpoints
/14day_머신러닝/02_회귀분석/01_선형회귀분석(Linear_Regression)/data
.ipynb_checkpoints
data
/14day_머신러닝/02_회귀분석/04_다항회귀분석(Polynomial_Regression)/.ipynb_checkpoints
/머신러닝/1day/.ipynb_checkpoints
/통계/data
/통계/data2
/통계/.ipynb_checkpoints
