<html>

<head>
    <title>주문 상세 수정하기</title>

    <script>
        // 저장버튼 클릭시 호출되는 함수
        function send() {
            // popup 창 띄우기(경고창)
            alert("수정합니다");
            document.getElementById("fm").submit();
        }
    </script>
</head>

<body>
    <form name="fm" id="fm" method="post" action="/oracle/cart_update/">
        <input type="hidden" name="pcart_no" value="{{pcart_no}}">
        <input type="hidden" name="pcart_prod" value="{{pcart_prod}}"> {% csrf_token %}
        <p>주문 상세 수정</p>

        <table border="1">
            <tr>
                <td style="background-color:yellow;">회원 아이디</td>
                <td>{{cart_member}}</td>
            </tr>
            <tr>
                <td style="background-color:yellow;">주문번호</td>
                <td>{{cart_no}}</td>
            </tr>
            <tr>
                <td style="background-color:yellow;">상품코드</td>
                <td>{{cart_prod}}</td>
            </tr>
            <tr>
                <td style="background-color:yellow;">주문수량</td>
                <td><input type="text" name="cart_qty" value="{{cart_qty}}"></td>
            </tr>
        </table>


        <button type="button" onclick="send()">[저장]</button>
    </form>
</body>

</html>