<html>

<head>
    <title>상품분류정보 상세 조회</title>
</head>

<body>
    <p>상품분류정보 상세</p>
    <table border="1">
        <tr>
            <td style="background-color:yellow;">상품분류순서</td>
            <td>{{lprod_id}}</td>
        </tr>
        <tr>
            <td style="background-color:yellow;">상품분류코드</td>
            <td>{{lprod_gu}}</td>
        </tr>
        <tr>
            <td style="background-color:yellow;">상품분류명</td>
            <td>{{lprod_nm}}</td>
        </tr>
    </table>
</body>

</html>